*{
    margin: 0;
    padding: 0;

}

ul{
    list-style: none;
}

body{
    height: 100%;
    overflow: hidden;

}
.game-text{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    left:0;
    top:0;
    color:#fff;
    font-size: 50px;

}

.game-text > button {
    padding: 0.5rem 1rem;
    color: #fff;
    background:	#ff00ff;
    border: none;
    cursor: pointer;
}
.score{
    text-align: center;
    font-size: 36px;
    margin-bottom: 2rem;
}

/* li : row
ul: column */
.playground > ul {
    border: 2px solid #333;
    width: 250px;
    margin: 0 auto;
}

.playground > ul > li {
    width: 100%;
    height:25px;
}

.playground > ul > li > ul {
    display: flex;
}

.playground > ul > li > ul > li {
    width: 25px;
    height:25px;
    outline: 2px solid #ccc;

}


.tree{
    background: #f64a8a
}
.bar{
    background: #8f00ff
}
.zzz{
    background: #0080fe
}
.elleft{
    background: #ff2800
}
.elright{
    background: #50c878
}
.square{
    background: #ff7417
}

